@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

html {
    margin:20px;
    color: #333;
    font: 15px 'Open Sans', Arial, sans-serif;
/*     background-color: #eee; */
}

div.content, .content div {
    overflow:hidden; 
} 


body {
    background-color:white;
    margin:20px;
    padding:20px;
}

a:link {
    text-decoration: none;
    color: #0077cc;
}

a:visited {
    color: #0077cc;
}

a:hover {
    color: #778;
    text-decoration:underline;
}

/* #deliverables a:link{text-decoration:underline} */


.showhidebutton {
    font: 10px 'Open Sans', Arial, sans-serif;
    color: #0077cc;
}

a.puboutlink {
    font-weight: bold;
/*     font: bold 14px 'Open Sans', Arial, sans-serif; */
}

.header {
    line-height: 15em;
    font: 36px/42px 'Ubuntu', 'sans-serif';
    font-weight: 500;
    color: #cccccf;
    margin-bottom: 10px;
}

.subtitle {
    line-height: 15em;
    font: 12px 'Ubuntu', 'sans-serif';
    font-weight: 500;
    color: #778;
    margin-bottom: 10px;
}

.nav, .nav div {
    font: 12px Arial, sans-serif;
    margin-bottom: 2em;
    display: block;
}

div.navbox {
    background-color:#eee;padding:1.6em 1.8em 1.3em 1.8em;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    margin: 0;
    padding: 0;
}

.nav ul li a:link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #0077cc;
}

.nav ul li a:visited {
    color: #0077cc;
}

.nav ul li a:hover {
    color: #778;
    text-decoration: underline;
}

#navigation {font: 12px 'Open Sans', Arial, sans-serif;}

.content {
    font: 14px Arial, 'Open Sans', Arial, sans-serif;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1.45em;
    hyphens: auto;
}

.content ul, ol {
    margin:10px 0 0 3em;
}

.content ol li{
    margin-top: 10px;
/*     padding-left: 1em;
    text-indent: -1em; */
}

.authors {
    color: #778;
}

#deliverables * u {    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

div.photogrid {
    margin-left: 10px;
    display:none;  
    overflow:hidden;  
}

.photogrid img {max-width: 270px; }

body h2 {
    font: 22px 'Ubuntu', sans-serif;
    color: #ba5f1c;
    margin-top:10px;
    margin-bottom:10px;
}

body h3 {
    font: bold 16px 'Ubuntu', sans-serif;
    color: #444;
    margin-top:15px;
}

body h4 {
    font: bold 13px 'Ubuntu', sans-serif;
    color: #444;
    margin-top:15px;
}

.nav h5 {
    font-weight: normal;
    color: #778;
    font-size: 10px;
    font-family: Arial, sans-serif;
}

#contact li {
    margin-bottom: 0.3em;
}

p {
    margin-top: 10px;
/*     text-align: justify; */
} 


:target {
    -webkit-animation: target-fade 2s 1;
    -moz-animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
    0% { background-color: #ba5f1c; }
    100% { background-color: inherit; }
}

@-moz-keyframes target-fade {
    0% { background-color: #ba5f1c; }
    100% { background-color: inherit; }
}

ul ul {
    margin:0 0 0 1.5em;
}


sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}
sub, sup {
    font-size: 0.8em;
    line-height: 100%;
}


.imghovercaption {margin-top: 6px; float:left; width: 280px}  /* margin-top: 10px; */

.imghovercaption a {
    position: relative
}

.imghovercaption a span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 250px;
    padding: 10px;
    background: rgba(255,255,255,.8); /* browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccffffff', endColorstr='#ccffffff'); /* IE */
    font: 12px Arial, sans-serif;
    color: #444;
}

.imghovercaption a:hover span {
    display: block;
}



/* div#crossfadeonhover { position: relative; } */
div#crossfadeonhover img { position: absolute; left: 0; transition: all 1s ease-in-out; }
div#crossfadeonhover img:hover { opacity: 0; }



.pubref { style="font-size: 13px; }
.toplink { text-align:right; color: #778; font: 12px Arial, sans-serif; padding: 0; margin: 0;}
.toplink a { text-align:right; color: #778; font: 12px Arial, sans-serif; padding: 0; margin: 0;}
.toplink a:hover { text-align:right; color: #0077cc; font: 12px Arial, sans-serif; padding: 0; margin: 0;}

#linktonav {margin: 0; padding: 10px 0; background-color: #eee; text-align: center;}
#linktonav a { color: #ba5f1c; font: 12px Arial, sans-serif; padding: 0 10px; margin: 0;}
#linktonav a:hover { color: #778;}

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 font-size: 100%;
 font-family: Arial;
} */